@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}
header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #7a87ff;
  padding: 10px 20px;
}
h1,
p {
  font-family: "Rubik", sans-serif;
  color: #000;
  text-align: center;
  padding: 20px;
}
.button-body {
  color: #fff;
  background-color: #4356ff;
  border: 0;
  border-radius: 20px;
  padding: 10px 30px;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
}
.button-body:hover {
  color: yellow;
  font-size: 14px;
  font-weight: bold;
}
.button-header {
  color: white;
  background: none;
  border: 0;
  font-size: 25px;
  padding: 0 5px;
  display: none;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 992px;
  margin: 0 auto;
}
.nav-link li {
  padding: 8px 16px;
  margin: 0px 8px;
  width: max-content;
}
.nav-link ul {
  display: flex;
  list-style: none;
}
.nav-link li a {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease 0;
}
.nav-link li a:hover {
  /* padding-bottom: 5px; */
  border-bottom: #fff 6px solid;
  font-weight: bold;
}
.div-search {
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  display: flex;
}
.div-search input {
  border: 0;
  outline: none;
  margin: 0 5px;
}
#icon-search {
  padding: 0 5px;
  color: gray;
}
.img-1 {
  padding: 25px;
  width: 500px;
  margin: 0 10px;
}
.main-home,
.div-objetives {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-home {
  padding: 90px 20px;
}
.div-home {
  width: 500px;
  background-color: white;
  margin: 0 50px;
}
.div-button {
  margin: 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-objetives {
  margin: 40px 300px;
  border-radius: 20px;
  background-color: #c8cdff;
}
.titulo {
  padding-top: 30px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: #000;
  font-weight: bold;
  font-size: 30px;
}
.div-vision,
.div-mision {
  margin: 0 20px;
}
.img-logo {
  cursor: pointer;
  width: 130px;
}
.img-1 {
  padding: 25px;
  width: 500px;
  margin: 0 10px;
}
.img-mision,
.img-vision {
  width: 180px;
  margin: 0 60px 20px;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .nav-link ul {
    flex-direction: column;
    list-style: none;
    align-items: center;
    background-color: #6c63ff;
    position: fixed;
    top: 65px;
    left: 0px;
    width: 100%;
    padding: 20px 0;
    display: none;
  }
  .button-header {
    display: block;
  }
}
